[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "external/siglot"]
	path = external/siglot
	url = https://github.com/jinkim31/siglot.git
[submodule "external/imgui_bundle"]
	path = external/imgui_bundle
	url = https://github.com/pthom/imgui_bundle.git
[submodule "external/poco"]
	path = external/poco
	url = https://github.com/pocoproject/poco.git
[submodule "external/serial"]
	path = external/serial
	url = https://github.com/jinkim31/serial.git
[submodule "external/sync"]
	path = external/sync
	url = https://github.com/jinkim31/sync.git
